@import "../../../VARIABLES.scss";

/* Footer container */
.footer-container {
  padding: 100px 100px 50px 100px;
  background: $BACKGROUND_COLOR_LIGHT;
  width: calc(100% - 150px);
  transform: translateX(150px);
  text-align: left;
}

/* Footer container details */
.footer-container .footer-contact-details {
    display: flex;
}

.footer-container .footer-contact-details > * {
  flex: 1;
}

.footer-container .footer-scroll-up-button {
  text-transform: uppercase;
  font-size: small;
  font-weight: bolder;
  position: absolute;
  right: $PADDING;
  top: 50%;
  transform: rotate(-90deg);
  user-select: none !important;
  cursor: pointer !important;
}

.footer-container .social-media-handles {
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-top: 50px;
  text-align: center;
}

.footer-container .legal {
  font-size: small;
  opacity: .5;
  margin-top: $PADDING;
  text-align: center;
  text-transform: uppercase;
}

.footer-container .social-media-handles > div {
  display: inline-block;
  text-transform: uppercase;
  margin: 0 5px 0 5px;
}

// Adaptive responsive layout
@media only screen and (max-width: 884px) {
  .footer-container {
    padding: 100px 50px 50px 50px;
    transform: translateX(0);
    width: 100%;
  }
}

@media only screen and (max-width: 660px) {
  .footer-container .social-media-handles > div {
    display: block;
  }
}
