<!-- The container of the footer -->
<div class="footer-container">
  <div class="footer-contact-details">
    <div class="footer-call-address-line">
      <div class="item">
        <div class="item-name">Call</div>
        <a class="item-value" href="callto://+27747521395">+27 74 752 1395</a>
      </div>

      <div class="item">
        <div class="item-name">Address Line</div>
        <div class="item-value">
          4006 Pencil Fish Cr<br>
          Kaalfontein Ext. 10<br>
          Midrand<br>
          1685<br>
          South Africa<br>
        </div>
      </div>
    </div>
    <div class="footer-email-contact">
      <div class="item">
        <div class="item-name">Email</div>
        <a class="item-value" href="mailto://lebyane.lm@gmail.com">lebyane.lm@gmail.com</a>
      </div>
    </div>
    <div class="footer-scroll-up-button" (click)="this.scrollToTop()">Scroll back up</div>
  </div>

  <!-- Social media handles -->
  <div class="social-media-handles">
    <div><a class="social-handle" href="https://github.com/lebyanelm" target="_blank">GitHub</a></div>
    <div><a class="social-handle" href="https://instagram.com/lebyanelm" target="_blank">Instagram</a></div>
    <div><a class="social-handle" href="https://www.codewars.com/users/lebyanelm" target="_blank">Codewars</a></div>
    <div><a class="social-handle" href="https://cssbattle.dev/player/lebyanelm" target="_blank">CSS_Battle</a></div>
    <div><a class="social-handle" href="https://stackoverflow.com/users/8664756/libby-lebyane" target="_blank">Stackoverflow</a></div>
    <div><a class="social-handle" href="mailto://lebyane.lm@gmail.com" target="_blank">Gmail</a></div>
  </div>

  <div class="legal">&copy; Copyright 2021 &mdash; Libby Lebyane &mdash; CODING IS POETRY.</div>
</div>
