<!-- The container of the header component -->
<div class="header-container">

  <!-- The logo and name of the site -->
  <div class="sitename-logo">
    <div class="sitename"><span>Libby<br>Lebyane</span></div>
  </div>

  <!-- The rererence links, navigation links of the page -->
  <div class="navigation-links">
    <a class="clickable" routerLink="/?section=start">Home</a>
    <a class="clickable" routerLink="/?section=philosophy">Developer Philosophy</a>
    <a class="clickable" routerLink="/?section=skills">Skills</a>
    <a class="clickable" routerLink="/?section=projects">Projects</a>
    <a class="clickable" routerLink="/?section=contact">Contact</a>
  </div>
</div>
