<!-- The container of the header component -->
<div class="header-container desktop">

  <!-- The logo and name of the site -->
  <div class="sitename-logo">
    <div class="sitename">
      <span class="name">Libby<br>Lebyane</span>
      <br>
      <span class="tagline">Coding is poetry.</span>
    </div>
  </div>

  <!-- The rererence links, navigation links of the page -->
  <div class="navigation-links">
    <a class="clickable" (click)="this.scroll.to('introduction')">Home</a>
    <a class="clickable" (click)="this.scroll.to('philosophy')">Developer Philosophy</a>
    <a class="clickable" (click)="this.scroll.to('skills')">Skills</a>
    <a class="clickable" (click)="this.scroll.to('projects')">Projects</a>
    <a class="clickable" (click)="this.scroll.to('contact')">Contact</a>
  </div>

  <!-- Menu that will be shown on the mobile platform -->
  <div class="mobile-menu-backdrop"
       [attr.isVisible]="this.isMobileMenuOpen"
       (click)="this.toggleMobileMenu()"></div>
  <div class="mobile-menu-container" [attr.isVisible]="this.isMobileMenuOpen">
    <a class="mobile-menu-item" (click)="this.scroll.to('introduction')">Home</a>
    <a class="mobile-menu-item" (click)="this.scroll.to('philosophy')">Developer Philosophy</a>
    <a class="mobile-menu-item" (click)="this.scroll.to('skills')">Skills</a>
    <a class="mobile-menu-item" (click)="this.scroll.to('projects')">Projects</a>
    <a class="mobile-menu-item" (click)="this.scroll.to('contact')">Contact</a>
  </div>

  <!-- Button to toggle the mobile menu -->
  <div class="navigation-toggle-button"
       [attr.isOpen]="this.isMobileMenuOpen"
       (click)="this.toggleMobileMenu()"></div>
</div>
