/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "./VARIABLES.scss";


/* App Header */
app-header {
  display: block;
  position: fixed;
  width: 100%;
  padding: 0 100px;
  left: 0;
  top: 0;
  background: $BACKGROUND_COLOR;
}


/* Browser and default resets */
html {
  scroll-behavior: smooth;
}

.page-content {
  padding: 0 150px 0 150px;
}

body,
ion-content,
ion-footer {
  --background: #000000 !important;
  background: #000000 !important;
  text-align: center;
}

* {
  color: $TEXT_COLOR;
  box-sizing: border-box;
  outline: none !important;
}


/* Animated background of the site */
app-animated-background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}


/* Typography definations */
* {
  font-family: $PARAGRAPH_FONT_FAMILY;
}

*.header-title,
*.header-title *,
*.sub-header-title,
*.sub-header-title * {
  font-family: $HEADER_FONT_FAMILY !important;
  font-weight: bolder;
}

*.header-title,
*.header-title * {
  font-size: 50px;
}

*.header-title.secondary {
  margin: 60px 0;
}

*.sub-header-title,
*.sub-header-title * {
  font-size: 20px;
}

*.paragraph {
  opacity: 0.7;
  margin: $PADDING 0;
  font-weight: 500;
}

*.left-align {
  text-align: left !important;
}

/* Anchor link tags */
a {
  text-transform: none;
  text-decoration: none;
  color: $THEME_COLOR;
  cursor: pointer !important;
}


/* A section to encompass a part of the page */
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.section .person-avatar {
  --size: 100px;
  height: var(--size);
  width: var(--size);
  border-radius: var(--size);
  background: $BACKGROUND_COLOR_LIGHT url("/assets/images/me.png") center center no-repeat;
}

// Header title of a section
.section .header-title,
.section .paragraph {
  margin-top: $PADDING;
  max-width: 80%;
}


/* Button definations and styling */
button,
.clickable {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border: none;
  padding: $PADDING;
  background: transparent;
  border-bottom: 3px solid $TEXT_COLOR;
  font-family: $HEADER_FONT_FAMILY;
  text-transform: uppercase;
  position: relative;
  font-weight: bolder;
}


/* For clickable items */
.clickable::after,
button::after {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  background: $THEME_COLOR;
  transition: width 300ms ease-in-out;
  float: left;
}

.clickable:hover::after,
button:hover::after {
  width: 100%;
  float: right;
}

button.no-border,
.clickable {
  border: none !important;
}

button.no-border::after,
.clickable.no-border::after {
  display: none !important;
}

button ion-icon {
  font-size: 25px;
}
