/////// COLORS
$TEXT_COLOR: #FFFFFF;
$THEME_COLOR: orangered;
$BACKGROUND_COLOR: #000000;
$BACKGROUND_COLOR_LIGHT: transparentize($TEXT_COLOR, .5);


//////// SHAPES AND SIZES
$PADDING: 20px;
$DESKTOP_SIDE_MARGIN: 200px;
$BORDER: 2px solid $TEXT_COLOR;


/////// TYPOGRAPHY
$PARAGRAPH_FONT_FAMILY: 'Roboto Mono for Powerline', sans-serif;
$HEADER_FONT_FAMILY: $PARAGRAPH_FONT_FAMILY;
$LOGOTYPE_FONT_FAMILY: 'ProFont for Powerline', $PARAGRAPH_FONT_FAMILY;
