<ion-content [fullscreen]="true" #IonContent>
  <!-- Container of the page content -->
  <div class="page-content">
    <!-- Animated background -->
    <app-animated-background></app-animated-background>

    <!-- The header of the page -->
    <app-header></app-header>

    <!-- The actual content of the page -->
    <div class="section" id="introduction">
      <div class="person-avatar"></div>
      <div class="header-title"><b>where</b>?.design<br>.meets.<b>coding</b><br>(passion)</div>
      <div class="paragraph">{{ this.getGreeting() }}! I’m a self—taught UI/UX designer and fullstack software engineer based in South Africa.</div>

      <!-- Call to action button -->
      <a class="clickable call-to-action" target="_blank" href="https://lebyanelm.github.io/portfolio/assets/documents/libbylebyane.pdf">
        <ion-icon name="arrow-down-circle"></ion-icon>
        <span>Libby Lebyane's Resume</span>
      </a>
    </div>

    <div class="section" id="philosophy" [style.margin-top]="'250px'">
      <div class="header-title secondary"><b>self.</b>minimal.<br><b>philosophy()</b></div>

      <div class="sub-header-title">Simplicity is the ultimate sophostication.</div>

      <div class="paragraph">It takes a whole lot of work to make something simple,
        to truly understand the underlying challanges and come up with
        elegant solutions. It’s not just minimalism or the absense of clutter.
        It involves digging through the depth of complexity. Understand the product
        to get rid of the parts that are not essential. <br><br> <b>&mdash; Steve Jobs</b></div>
    </div>

    <div class="section" id="skills" [style.margin-top]="'250px'">
      <div class="header-title secondary"><b>self?.</b>core.<br><b>skills()</b></div>
      <div class="paragraph" [style.transform]="'translateY(-30px)'">As a self—taught User Interface / User Experience designer, and Software Engineer.</div>

      <div class="skills">
        <div class="skill" *ngFor="let skill of this.skills">
          <div
              [class]="skill.name === 'HTML5' || skill.name === 'CSS3' ? 'image-container push-up' : 'image-container'">
                <img [src]="['assets/images/', skill.image].join('')" [class]="skill.name.toLocaleLowerCase()">
          </div>
          <span class="skill-name">{{ skill.name }}</span>
        </div>
      </div>
    </div>

    <div class="section" id="projects" [style.margin-top]="'250px'">
      <div class="header-title secondary"><b>self?.</b>projects.<br><b>recent()</b></div>
      <div class="paragraph" [style.transform]="'translateY(-30px)'">Being passionate about what I do is more important because it is reflected on the products I create, the end user has to feel the love I gave to a product when they use it through out.</div>

      <!-- List of all my experiments that I have worked on -->
      <div class="projects">
        <div class="project" *ngFor="let project of this.projects" (click)="openProject(project)">
          <div class="project-header">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="project-image-container">
            <div class="image" [style.background-image]="'url(assets/images/' + project.image + ')'"></div>
          </div>
          <div class="project-details">
            <div class="project-name">{{project?.name}}</div>
            <div class="project-langaues">{{ project?.languages.join(', ') }}</div>
            <div class="project-description">{{ project?.description }}</div>
            <a class="clickable project-button" [href]="project.href ? project.href : ''" target="_blank">
              <span>{{ project.href ? 'View Project' : 'Private Project' }}</span>
              <ion-icon name="arrow-forward-circle"></ion-icon>
            </a>
          </div>
        </div>
      </div>

      <!-- Button for loading more experiments -->
        <button class="load-more no-border" *ngIf="this.experimentsLoaded < this.projects.length">
          <span>Show More Projects</span>
          <ion-icon name="ellipsis-horizontal-circle-sharp"></ion-icon>
        </button>
    </div>

    <app-footer [page]="this" id="contact"></app-footer>
  </div>


</ion-content>
