@import "../../VARIABLES.scss";

// The skills container
.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: $PADDING;
}

// Image container of a skill
.skills .skill .image-container {
  display: grid;
  place-items: center;
  height: 70px;
  width: 70px;
  border-radius: 100px;
  border: $BORDER;
  border-width: 1px;
  position: relative;
  margin-bottom: 10px !important;
}

.skills .skill img {
  height: 40px;
  z-index: -1;
}

.skills .skill .image-container.push-up img {
  transform: translateY(-5px);
}

.skills .skill img.javascript,
.skills .skill img.typescript,
.skills .skill img.adobe {
  height: 40px;
}

// The name of the skill
.skills .skill .skill-name {
  font-size: small;
  font-weight: bolder !important;
  font-family: $HEADER_FONT_FAMILY;
  text-transform: uppercase;
}
